/* p,li{
    color: red;
} */

/* ol li, ul li{
    color: red;
} */

img{
    float: left;
}

.text{
    clear: both;
}

.info-text  {
  color: red;
  background-color: black;
}

#item{
    font-family: 'Courier New', Courier, monospace;
}