.main-box {
  height: 50vh;
  width: 70%;
  background-color: black;

  display: flex;
  flex-wrap: wrap;
  /* row-gap: 10px; */
  /* column-gap: 10px; */
  gap: 10px;
  align-content: center;
  /* align-items: stretch; */
  /* flex-wrap: nowrap; */
  /* flex-direction: column; */
  /* flex-flow: column wrap; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  /* align-items: center; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
}

.box {
  width: 100px;
  height: 100px;
  background-color: green;
  font-size: 40px;
  color: #fff;
}
